name: test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
        with:
          php-version: '7.4'
          extensions: mbstring, bcmath
          coverage: none
      - name: Install Composer dependencies
        run: composer install --no-progress --optimize-autoloader
      - name: env
        run: |
          cp .env.example .env
          php artisan key:generate
      - name: Test with phpunit
        run: vendor/bin/phpunit
